body {
    background-color: #F9ED69;
}

hr {
    background-color: #F9ED69;
    border-style: none;
    border-top-style: dotted;
    border-color: blue;
    border-width: 20px;
    width: 30%;
}

img {
    height: 200px;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}